.container {
  max-width: 1900px;
  margin: 0 auto;
  height: 80vh;
  font-family: 'Poppins', sans-serif;

  .ofice_cost {
    font-size: 18px;
    margin: 30px 0 0 30px;
    @media screen and (max-width: 1520px){
     font-size: 16px;
    }
  }

  .first_container {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    gap: 25px;

    .first_images {
      background-size: cover;
      overflow: hidden;

      .img1 {
        background-image: url("../../images/imgbusines1.png");
        width: 770px;
        height: 495px;
        transition-duration: 1s;
        position: relative;
        opacity: 75%;

        .box_ofice {
          width: 220px;
          top: 30px;
          left: 30px;
          position: absolute;
          height: 160px;
          background: white;

          .ofice {
            margin: 30px 0 0 30px;
            position: relative;
            font-weight: bold;
            font-size: 28px;
            @media screen and (max-width: 1520px){
              font-size: 20px;
            }


            &:before {
              content: "";
              position: absolute;
              width: 40px;
              height: 40px;
              background: #FFCC48;
              @media screen and (max-width: 1520px){
                width: 30px;
                height: 30px;
              }
            }
          }

        }


        &:hover {
          transform: scale(1.2)
        }

        .arrow {
          position: absolute;
          width: 130px;
          height: 130px;
          top: 365px;
          left: 640px;
          background: white;
          @media screen and (max-width: 1920px) {
            left: 578px;
            top: 365px;
          }
          @media screen and (max-width: 1520px) {
            left: 468px;
            top: 365px;
          }
          @media screen and (max-width: 1280px) {
            left: 307px;
            top: 365px;
          }

        }
      }
    }

    .secondary_images {
      background-size: cover;
      overflow: hidden;


      .img2 {
        background-image: url("../../images/imgbusines2.png");
        width: 770px;
        height: 495px;
        transition-duration: 1s;
        margin: 0 auto;
        display: block;
        position: relative;

        opacity: 75%;

        .ofice_lorem {
          width: 240px;
          top: 30px;
          left: 30px;
          position: absolute;
          height: 195px;
          background: white;

          .ofice2 {
            max-width: 50px;
            margin: 30px 0 0 30px;
            position: relative;
            font-family: 'Poppins', sans-serif;
            font-weight: bold;
            font-size: 28px;
            @media screen and (max-width: 1520px){
              font-size: 20px;
            }

            &:before {
              content: "";
              position: absolute;
              width: 40px;
              height: 40px;
              background: #FFCC48;
              @media screen and (max-width: 1520px){
                width: 30px;
                height: 30px;
              }
            }
          }

        }

        &:hover {
          transform: scale(1.2)
        }

        .arrow {
          position: absolute;
          width: 130px;
          height: 130px;
          left: 640px;
          top: 365px;
          background: white;
          @media screen and (max-width: 1920px) {

            left: 578px;
            top: 365px;
          }
          @media screen and (max-width: 1520px) {
            left: 468px;
            top: 365px;
          }
          @media screen and (max-width: 1280px) {
            left: 308px;
            top: 365px;
          }
        }
      }
    }
  }

  .secondary_container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    gap: 25px;

    .third_images {
      background-size: cover;
      overflow: hidden;


      .img3 {
        background-image: url("../../images/imgbusines3.png");
        transition-duration: 1s;
        width: 770px;
        height: 362px;
        margin: 0 auto;
        position: relative;
        display: block;
        opacity: 75%;


        .ofice_lorem3 {
          width: 225px;
          top: 138px;
          left: 30px;
          position: absolute;
          height: 195px;
          background: white;
          @media screen and (max-width: 1520px){
            width: 180px;
            height: 160px;
          }

          .ofice3 {
            max-width: 50px;
            margin: 30px 0 0 30px;
            position: relative;
            font-family: 'Poppins', sans-serif;
            font-weight: bold;
            font-size: 28px;
            @media screen and (max-width: 1520px){
              font-size: 20px;
            }

            &:before {
              content: "";
              position: absolute;
              width: 40px;
              height: 40px;
              background: #FFCC48;
              @media screen and (max-width: 1520px){
                width: 30px;
                height: 30px;
              }
            }
          }

        }

        &:hover {
          transform: scale(1.2)
        }

        .arrow {
          position: absolute;
          width: 130px;
          height: 130px;
          left: 640px;
          top: 232px;
          background: white;
          @media screen and (max-width: 1920px) {

            left: 578px;
            top: 232px;
          }
          @media screen and (max-width: 1520px) {
            left: 468px;
            top: 232px;
          }
          @media screen and (max-width: 1280px) {
            left: 308px;
            top: 232px;
          }
        }
      }
    }

    .fourth_images {
      background-size: cover;
      overflow: hidden;

      .img4 {
        background-image: url("../../images/imgbusines4.png");
        width: 770px;
        height: 362px;
        transition-duration: 1s;
        margin: 0 auto;
        position: relative;
        display: block;
        opacity: 75%;

        .ofice_lorem4 {
          width: 324px;
          height: 195px;
          top: 138px;
          left: 30px;
          position: absolute;
          background: white;
          @media screen and (max-width: 1520px){
            width: 230px;
            height: 160px;
          }

          .ofice {
            margin: 30px 0 0 30px;
            position: relative;
            font-family: 'Poppins', sans-serif;
            font-weight: bold;
            font-size: 28px;
            @media screen and (max-width: 1520px){
              font-size: 20px;
            }

            &:before {
              content: "";
              position: absolute;
              width: 40px;
              height: 40px;
              background: #FFCC48;
              @media screen and (max-width: 1520px){
                width: 30px;
                height: 30px;
              }
            }
          }

        }

        &:hover {
          transform: scale(1.2)
        }

        .arrow {
          position: absolute;
          width: 130px;
          height: 130px;
          left: 640px;
          top: 232px;
          background: white;
          @media screen and (max-width: 1920px) {

            left: 578px;
            top: 232px;
          }
          @media screen and (max-width: 1520px) {
            left: 468px;
            top: 232px;
          }
          @media screen and (max-width: 1280px) {
            left: 308px;
            top: 232px;
          }
        }
      }
    }
  }
}

