.container {
  max-width: 1900px;
  margin: 0 auto;
  height: 100vh;
  .first_container {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    gap: 25px;

    .first_images {
      background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.2)), url("../../images/img busines 1.png");
      width: 770px;
      height: 495px;
    }

    .secondary_images {
      background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.2)), url("../../images/img busines 2.png");
      width: 770px;
      height: 495px;
    }
  }

  .secondary_container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    gap: 25px;
    .third_images {
      background:linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.2)), url("../../images/img busines 3.png");
      width: 770px;
      height: 362px;
    }

    .fourth_images {
      background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.2)), url("../../images/img busines 4.png");
      width: 770px;
      height: 362px;
    }
  }


}