
.news_box {

  .box_news_img {
    .img_news {
      background: url("../../images/imgbusines4.png");
      width: 450px;
      height: 362px
    }

    .img_news2 {
      background: url("../../images/imgnews2.png");
      width: 450px;
      height: 321px
    }

    .img_news3 {
      background: url("../../images/imgnews3.png");
      width: 450px;
      height: 578px
    }
  }
}